<div class="dashboard-container">
    <div class="menu-container">
        <div class="menu-left">
            <h2>Dashboard</h2>
            <div class="menu-grid">
                <div class="menu-item" routerLink="/ordiniAttesa">
                    <img src="https://img.icons8.com/ios-filled/100/4a90e2/settings" class="menu-icon" alt="Ordini in attesa">
                    <span>Ordini in attesa</span>
                </div>
                <div class="menu-item" routerLink="/gestioneMenu">
                    <img src="https://img.icons8.com/ios-filled/100/4a90e2/settings" class="menu-icon" alt="Gestione del menu">
                    <span>Gestione del menu</span>
                </div>
                <div class="menu-item" routerLink="/resocontoOrdiniAccettati">
                    <img src="https://img.icons8.com/ios-filled/100/4a90e2/settings" class="menu-icon" alt="Profilo">
                    <span>Resoconto Ordini Accettati</span>
                </div>
                <div class="menu-item" routerLink="/">
                    <img src=" https://img.icons8.com/ios-filled/100/4a90e2/exit" class="menu-icon" alt="Profilo">
                    <span>Esci</span>
                </div>
               
            </div>
        </div>
    </div>
</div>
